


<div class="form-group" style="margin: 5%">
    <p class="h3">Sube tu Post</p>
    <%= form_for @image, builder: CustomFormBuilder do |f| %>
        
        <%= f.form_error %>
        
        <%= f.label :description, class: 'h5' %>
        <%= f.text_field :description, class: 'form-control' %>
        <%= f.field_error :description %>
        <br>
        <%= f.label :picture, class: 'h5 mt-4' %>
        <%= f.file_field :picture%>
        <br>
        
        <%= f.submit 'Enviar', class: 'btn btn-dark mt-4' %>
    <% end %>
</div>


